
/vendor/
composer.lock


.env

mysql-8.4/


/public/uploads/


.DS_Store
Thumbs.db


.idea/
.vscode/


*.log


.phpunit.result.cache
coverage/


/storage/
.cache/
*.cache


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.bak
*.tmp
